.best-sellers {
  padding-bottom: 45px;
}
.best-sellers .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.best-sellers .container .best-sellers__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3C2769;
}
.best-sellers .container .best-sellers__title span {
  padding: 4px 12px;
  background: #ebe9f5;
  border-radius: 30px;
}
.best-sellers .container .best-sellers__subtitle {
  max-width: 768px;
  margin: 22px auto 80px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #202939;
}
.best-sellers .container .best-sellers__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 30px;
}
.best-sellers .container .best-sellers__products img {
  max-width: 100%;
  height: auto;
  display: block;
}
.best-sellers .container .best-sellers__products .best-sellers__product {
  padding: 45px 16px 24px;
  background: #f1f3f5;
  border-radius: 30px;
}
.best-sellers .container .best-sellers__products .best-sellers__product .best-sellers__product-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 64px;
}
.best-sellers .container .best-sellers__products .best-sellers__product .best-sellers__product-group .best-sellers__product-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #202939;
}
.best-sellers .container .best-sellers__products .best-sellers__product .best-sellers__product-group .best-sellers__product-price {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #697586;
}
.best-sellers .container .best-sellers__products .best-sellers__product .best-sellers__product-subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 24px;
  color: #697586;
}
.best-sellers .container .best-sellers__products .best-sellers__product .best-sellers__product-link {
  text-align: center;
  display: block;
  width: 100%;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #cbd3dd;
  border-radius: 30px;
  padding: 17px 33px;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #202939;
}
.best-sellers .container .best-sellers__products .best-sellers__product .best-sellers__product-link:hover {
  background-color: #cd4c73;
  color: #fff;
  border-color: #cd4c73;
}
.best-sellers .container .best-sellers__big-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  padding: 48px 0 80px;
}
.best-sellers .container .best-sellers__big-products .best-sellers__big-product {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  background: #eff1f3;
}
.best-sellers .container .best-sellers__big-products .best-sellers__big-product .best-sellers__big-product-group {
  max-width: 468px;
  margin: 0 auto;
  padding: 63px 0;
}
.best-sellers .container .best-sellers__big-products .best-sellers__big-product .best-sellers__big-product-group .best-sellers__big-product-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 27px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #202939;
}
.best-sellers .container .best-sellers__big-products .best-sellers__big-product .best-sellers__big-product-group .best-sellers__big-product-subtitle {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 37px;
  text-align: center;
  padding: 10px;
  color: #697586;
}
.best-sellers .container .best-sellers__big-products .best-sellers__big-product .best-sellers__big-product-group .best-sellers__big-product-link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #202939;
  border: 1px solid #cbd3dd;
  border-radius: 30px;
  padding: 17px 33px;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.best-sellers .container .best-sellers__big-products .best-sellers__big-product .best-sellers__big-product-group .best-sellers__big-product-link:hover {
  background-color: #cd4c73;
  color: #fff;
  border-color: #cd4c73;
}
.best-sellers .container .best-sellers__big-products img {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .best-sellers .container .best-sellers__products {
    gap: 0;
  }
  .best-sellers .container .best-sellers__products .owl-dots {
    position: absolute;
    bottom: -50px;
    text-align: center;
    padding-top: 10px;
  }
  .best-sellers .container .best-sellers__products .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #eff1f3;
    border-radius: 50%;
    cursor: pointer;
  }
  .best-sellers .container .best-sellers__products .owl-dot.active {
    background: #c94a71;
  }
  .best-sellers .container .best-sellers__big-products {
    padding: 100px 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .container .best-sellers__big-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}