.about-us {
  padding: 160px 0;
}
.about-us .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.about-us .container .about-us__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3C2769;
}
.about-us .container .about-us__title span {
  padding: 4px 12px;
  background: #ebe9f5;
  border-radius: 30px;
}
.about-us .container .about-us__subtitle {
  margin: 22px 0 28px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #202939;
}
.about-us .container .about-us__text {
  margin: 0 auto 37px;
  text-align: center;
  font-family: "Inter", sans-serif;
  max-width: 741px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #697586;
}
.about-us .container .banner__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}
.about-us .container .banner__buttons .banner__button:nth-child(1) {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #202939;
  border: 1px solid #cbd3dd;
  border-radius: 30px;
  padding: 17px 33px;
  background: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-us .container .banner__buttons .banner__button:nth-child(1):hover {
  background-color: #cd4c73;
  color: #fff;
  border-color: #cd4c73;
}
.about-us .container .banner__buttons .banner__button:nth-child(2) {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #121926;
}
.about-us .container .banner__buttons .banner__button:nth-child(2)::after {
  content: "";
  margin-left: 10px;
  display: inline-block;
  rotate: -90deg;
  width: 12px;
  height: 8px;
  -webkit-mask: url(../assets/images/expand_more.svg) no-repeat center;
  mask: url(../assets/images/expand_more.svg) no-repeat center;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #697586;
}
.about-us .container .banner__buttons .banner__button:nth-child(2):hover::after {
  background-color: #cd4c73;
}
.about-us .container .banner__buttons .banner__button:nth-child(2):hover {
  color: #cd4c73;
}

@media only screen and (max-width: 768px) {
  .about-us {
    padding: 65px 0;
  }
}